
<div class="container" class="background" style="background-image: url('../../assets/images/bg1.png');">
    <div class="card shadow mb-10">
        <div class="card-body">
            <h1>Liste des Produits </h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>libelle</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Categorie</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let p of prod">
                        <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.libelle}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.prix}}</td>
                            <td>{{p.categorie}}</td>
                            <td>
                                <a class="btn btn-danger" (click)="deleteProduct(p.id)" [routerLink]= "['/dashboard']"><img src="../assets/images/delete.png" height="32" width="32"></a>      
                               <a class="btn btn-warning" [routerLink]="['/UpdateProdect',p.id]"> 
                                <img src="../assets/images/edit.png" height="32" width="32"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

