<!-- home.component.html -->

<app-menu></app-menu>

<!-- Hero Start -->

<div class="container-fluid py-5 mb-5 hero-header">
  <div class="container py-5">
      <div class="row g-5 align-items-center">
          <div class="col-md-12 col-lg-7">
              <h4 class="mb-3 text-secondary">100% Produit frais</h4>
              <h1 class="mb-5 display-3 text-primary">Coin Vert -> Légumes & fruits frais</h1>
              <div class="position-relative mx-auto">
                  <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Chercher">
                  <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Soumettre</button>
              </div>
          </div>
          <div class="col-md-12 col-lg-5">
              <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active rounded">
                          <img src="assets/images/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                          <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                      </div>
                      <div class="carousel-item rounded">
                          <img src="assets/images/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                          <a href="#" class="btn px-4 py-2 text-white rounded">légumes</a>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero End -->


<!-- Content -->
<!-- hiver.component.html -->
<div class="container mt-5">
    <h1 class="text-primary">Guide Saison Hiver</h1><br>
    <h3>
      L'hiver apporte son charme avec des légumes-racines tels que les carottes et les pommes de terre.
      C'est le moment idéal pour déguster des soupes chaudes et des plats réconfortants. Profitez des
      agrumes, comme les oranges, qui sont une source de vitamine C pendant cette saison froide.
    </h3>
    <h3>
      Bien que les températures baissent, l'hiver offre également des opportunités pour des activités
      amusantes comme le patinage sur glace et la construction de bonhommes de neige. C'est le moment de
      profiter de l'ambiance chaleureuse et des festivités de fin d'année.
    </h3>
  </div>
  
  <div class="container-fluid image py-5">
    <div class="container py-5">
        <div class="image-header text-center">
            <img src="../../assets/images/hiver.jpg" class="img-fluid" alt="hiver" width="50%">

        </div>
        
    </div>
  </div>
  
  <div class="container-fluid espoire py-5">
    <div class="container py-5">
        <div class="espoire text-center">
            <h4 class="text-primary"> Nous espérons</h4>
            <h1 class="display-5 mb-5 text-dark">que vous en avez profité :)</h1>
        </div>
     
    </div>
  </div>



<!-- Content End -->
<app-footer></app-footer>
