<!-- Pied de page Début -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4 text-center" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#" class="d-block text-decoration-none">
                        <h1 class="text-primary mb-0">Coin Vert</h1>
                        <p class="text-secondary mb-0">Produits frais</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Votre E-mail">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Abonnez-vous maintenant</button>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-end pt-3">
                    <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-5 text-center">
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Pourquoi les gens nous aiment !</h4>
                    <p class="mb-4">
                        La vision, fraîchement créée, est inspirée par les besoins actuels du marché. Notre approche moderne et notre engagement envers l'innovation reflètent la dynamique du monde contemporain, assurant ainsi une expérience unique pour nos utilisateurs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Qui sommes-nous !</h4>
                    <p class="mb-4">Coin Vert, c'est bien plus qu'un marché en ligne. Nous sommes une équipe passionnée dédiée à vous fournir les meilleurs fruits et légumes, cultivés avec soin pour garantir la fraîcheur et la qualité. Découvrez une expérience gustative exceptionnelle avec nos produits soigneusement sélectionnés.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Adresse : 8036 Boukrim, Al Hawaria</p>
                    <p>Email : deruichiheb3@gmail.com</p>
                    <p>Téléphone : +21959183</p>
                    <p>Paiement accepté</p>
                    <img src="assets/images/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pied de page Fin -->
<!-- Copyright Début -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Coin Vert</a>, Tous droits réservés.</span>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Fin -->
